@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  @apply leading-normal;
  @apply tracking-normal;
}